@import '../../styles/variables.scss';

.nav {
  padding: 0.5rem 0;

  .container {
    max-width: 96rem;
    margin: 0 auto;
    padding: 0 1rem;

    @media (min-width: 640px) {
      padding: 0 1.5rem;
    }

    @media (min-width: 1024px) {
      padding: 0 2rem;
    }
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
  }

  .logo {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    .text-white {
      color: white;
      font-size: 2rem;
      font-weight: bold;

      .text-primary {
        color: $primary;
      }
    }
  }

  .nav-links {
    display: none;

    @media (min-width: 640px) {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  .mobile-menu-btn {
    display: block;

    @media (min-width: 640px) {
      display: none;
    }
  }

  .mobile-menu {
    display: none;

    @media (max-width: 640px) {
      padding: 0px 1rem;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

.link {
  text-decoration: none;
  color: $white;

  &:hover {
    text-decoration: underline;
  }
}