.experiences{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.company-details{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.points{
    padding: 1rem;
}