@import '../../../styles/variables.scss';

.skills {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 3rem;

    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // gap: 3rem;

    .skill {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        flex-direction: column;
        cursor: pointer;

        &:hover .img-container {
            transform: scale(1.25);
            transition: transform 0.3s ease-in-out;
        }

        .img-container {
            background: linear-gradient(140.53deg, rgba(255, 255, 255, 0.5) 12.34%, rgba(255, 255, 255, 0) 51.46%);
            border-radius: 1rem;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 40px;
                height: 40px;
            }
        }

    }
}

// .icon-container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     .icon-background {
//         background: linear-gradient(140.53deg, rgba(255, 255, 255, 0.5) 12.34%, rgba(255, 255, 255, 0) 51.46%);
//         box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
//         position: relative;
//         height: 50px;
//         width: 50px;
//         border-radius: 10px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         z-index: 1;

//         @media (min-width: 768px) {
//             height: 80px;
//             width: 80px;
//             border-radius: 20px;
//         }

//         .icon-wrapper {
//             height: 30px;
//             width: 30px;

//             @media (min-width: 768px) {
//                 height: 50px;
//                 width: 50px;
//             }

//             &:hover {
//                 transform: scale(1.25);
//                 transition: transform 0.3s ease-in-out;
//             }

//             .icon-image {
//                 position: relative;
//                 transition: all 0.7s ease-in-out;
//                 filter: grayscale(0);
//                 transform: scale(1);
//             }
//         }
//     }

//     .icon-text {
//         margin-top: 0.25rem;
//         text-align: center;
//         font-family: 'Rubik', sans-serif;
//         font-weight: normal;
//         font-size: 0.75rem;
//         color: $primary;

//         @media (min-width: 768px) {
//             font-size: 1rem;
//         }
//     }
// }